################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryManagementSolution/LibraryManagementSolution.Web/obj/Debug/net5.0




